.p-xs {
  padding: var(--app-spacing-xs);
}

.p-sm {
  padding: var(--app-spacing-sm);
}

.p-md {
  padding: var(--app-spacing-md);
}

.p-lg {
  padding: var(--app-spacing-lg);
}

.mt-md {
  margin-top: var(--app-spacing-md);
}

.mb-lg {
  margin-bottom: var(--app-spacing-lg);
}