:root {
  /* Font Size */
  --app-font-size-xs: 0.75rem;
  --app-font-size-sm: 0.875rem;
  --app-font-size-md: 1rem;
  --app-font-size-lg: 1.25rem;
  --app-font-size-xl: 1.75rem;
  --app-font-size-2xl: 2.5rem;

  /* Font Weight */
  --app-font-weight-regular: 400;
  --app-font-weight-medium: 500;
  --app-font-weight-semibold: 600;
  --app-font-weight-bold: 700;

  /* Line Height */
  --app-line-height-tight: 1.2;
  --app-line-height-normal: 1.5;
  --app-line-height-relaxed: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--app-color-text-primary);
  font-weight: var(--app-font-weight-bold);
}

p {
  margin: 0;
  color: var(--app-color-text-secondary);
  line-height: var(--app-line-height-normal);
}

.text-caption {
  font-size: var(--app-font-size-sm);
}

.text-small {
  font-size: var(--app-font-size-xs);
}

.font-bold {
  font-weight: var(--app-font-weight-bold);
}

.font-medium {
  font-weight: var(--app-font-weight-medium);
}
