<ion-card class="category-card" [attr.aria-labelledby]="'category-title-' + category.id">
  <ion-card-content class="category-card__content">
    <div class="category-card__header">
      <h3 class="category-card__title" [id]="'category-title-' + category.id">
        {{ category.name }}
      </h3>

      <div class="category-card__actions">
        <ion-button fill="clear" size="small" shape="round" (click)="onEdit()">
          <span class="visually-hidden">{{ editAriaLabel }}</span>
          <ion-icon name="create-outline" aria-hidden="true"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" shape="round" color="danger" (click)="onDelete()">
          <span class="visually-hidden">{{ deleteAriaLabel }}</span>
          <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
